html {
    font-family: sans-serif;
    min-height: 100%;
}

body {
    background: linear-gradient(white, orange);
    min-height: 100vh;
}

.page-content {
    margin-top: 1rem;
}

footer {
    margin-top: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem;
}

footer .rows {
    text-align: right;
}

footer .rows p {
    margin: 0;
    padding: 5px;
}

.sticky {
    position: sticky;
    top: 0;
    left: 0;
}

.navbar {
    z-index: 10;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 0;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    background-color: white;
}

.navbar .logo {
    font-size: 2rem;
    padding: 0.5rem
}

.navbar .logo:link {
    text-decoration: none;
    color: #101010;
}

.navbar .logo:visited {
    color: #101010;
}

.navbar .bars {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1.5rem;
    padding-right: 200px;
    padding-top: 10px;
}

.navbar .bars .active:link {
    color: aqua;
}

.navbar .bars .active:visited {
    color: aqua;
}

.navbar .bars a:hover {
    color: aqua;
}

.navbar .bars a:visited:hover {
    color: aqua;
}

.navbar .bars a:link {
    color: dimgrey;
    text-decoration: none;
}

.navbar .bars a:visited {
    color: dimgrey;
}

.card-grid {
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 1%;
    grid-gap: 1rem;
}

.card {
    height: 220px;
    padding: 1rem;
    display: grid;
    align-items: center;
    place-items: center;
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    grid-template-columns: 50% 50%;
    transform: scale(1);
    transition: 200ms ease-in-out;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.card .photo {
    padding: 10px;
    aspect-ratio: 4/3;
    height: 200px;
}

.card .text {
    text-wrap: normal;
    padding: 0.5rem;
    height: 100%;
    width: 100%;
}

.card .text p {
    height: 160px;
    padding: 0;
    margin: 0;
    overflow: scroll;
}

.card .text h3 {
    padding: 0.5rem;
    margin: 0;
}

.photo-grid {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    gap: 3%;
}

.photo-grid .pic {
    cursor: pointer;
    height: fit-content;
    overflow: hidden;
}

.photo-grid .pic img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    transform: scale(1);
    transition: 200ms ease-in-out;
}

.photo-grid .pic img:hover {
    transform: scale(1.1);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel {
    aspect-ratio: 16/9;
    margin: auto;
    border-radius: 10px;
    height: 24em;
    position: relative;
    overflow: hidden;
    font-size: 2.5vmin;
}

.carousel-slider {
    display: flex;
    transition: 0.3s;
}

.carousel-slide {
    flex: 1 0 100%;
}

.carousel-slide img {
    display: block;
    width: 100%;
    height: 24em;
    object-fit: cover;
}

.carousel button {
    font-size: inherit;
}

.carousel-prev,
.carousel-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 1em;
    border: none;
    height: 100%;
}

.carousel-prev {
    left: 1em;
    background-color: transparent;
    color: white;
    text-shadow: 1px 1px black;
}

.carousel-next {
    right: 1em;
    color: white;
    background-color: transparent;
    text-shadow: 1px 1px black;
}

.carousel-next:hover, .carousel-prev:hover {
    color: #dddddd;
}

.carousel-next span, .carousel-prev span {
    font-size: 2em;
}

.carousel-navigation {
    position: absolute;
    top: 95%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.carousel-bullet {
    width: 1em;
    height: 1em;
    border: none;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
}

.carousel-bullet.is-active {
    background: #1c69d3;
}

:target {
    animation: target-fade 2s;
}

@keyframes target-fade {
    from {
        background-color: #c0c0cc;
    }
    /* [1] */
    to {
        background-color: white;
    }
}