{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="white"/>
    <title>{{ header_name }}</title>
    <link href="{% static 'css/company.css' %}" rel="stylesheet" type="text/css"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Material+Icons"
            rel="stylesheet"
    />
</head>
<body>
<div class="sticky navbar">
    <a class="logo" href="{% url 'index' %}"> {{ header_name }}</a>

    <div class="bars">
        <a id="index" href="{% url 'index' %}">
            HOME
        </a>
        <a id="gallery" href="{% url 'gallery' %}">
            GALLERY
        </a>
    </div>
</div>
<div class="page-content">
    {% block content %}

    {% endblock %}
</div>
<footer>
    <div class="rows">
        <p>
            Контактный номер: +7 (915) 196-80-72
        </p>
        <p>
            Сайт - Мищенко А.Ю.
        </p>
        <p>
            Ⓒ2023
        </p>
    </div>
</footer>
</body>
<script src="{% static 'js/navbar.js' %}"></script>
</html>