{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="photo-grid">
        {% for article in articles %}
        <a class="pic" href="{% url 'index' %}#card_{{ forloop.counter }}">
            <img src="{{ article.image.url }}">
        </a>
        {% endfor %}
    </div>
{% endblock %}