{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="carousel">
        <div class="carousel-slider">
        {% for article in articles %}
            <a class="carousel-slide" href="#card_{{ forloop.counter }}"><img src="{{ article.image.url }}" alt="Image 1"></a>
        {% endfor %}
        </div>
    </div>
    <div class="card-grid">
    {% for article in articles %}
        <div class="card" id="card_{{ forloop.counter }}">
            <img class="photo image" src="{{ article.image.url }}">
            <div class="text">
                <h3>{{ article.article }}</h3>
                <p>{{ article.text }}</p>
            </div>
        </div>
    {% endfor %}
    </div>
    <script src="{% static 'js/carousel.js' %}"></script>
{% endblock %}